<!-- HERO -->
<div class="hero">
  <div class="hero-content">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/49db8c0f2f8066c2c3a275781503fe3303a1a9fc/source/images/placeholder.png" alt="Logo Image" class="hero-logo">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni modi doloremque excepturi laudantium maxime explicabo cumque deleniti voluptate deserunt.</p>
  </div>
</div>
<!-- HERO END -->

<div class="container">
  <h1 id="index-current-projects">Here's a List of Our Current Projects</h1>

<!-- SEARCHBAR -->
  <!-- <div class="searchbar">
    <form class="search-bar" role="search">
      <input type="search" placeholder="Enter Search" />
      <button type="submit">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
      </button>
    </form>
  </div> -->


  <%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>


  <!-- SEARCHBAR -->

  <!-- CURRENT PROJECTS -->
  <div class="projects">
    <%= render @projects %>
  </div>
</div>
<!-- CURRENT PROJECTS -->
