<!-- HERO -->
<div class="hero">
  <div class="hero-content">
    <h2></h2>
  </div>
</div>
<!-- HERO END -->

<div class="container">
    <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
  <!-- <h1 id="index-current-projects">Here's a List of Our Current Projects:</h1> -->

  <div id="search-bar">
    <%= form_tag projects_path, method: :get, authentication: false, id: 'search-form', role: "search" do %>
      <%= text_field_tag :search, params[:search] %>
      <button type="submit">Search</button>
    <% end %>
  </div>

  <!-- SEARCHBAR -->

  <!-- CURRENT PROJECTS -->
  <div id="projects">
    <%= render @projects %>
  </div>
</div>
<!-- CURRENT PROJECTS -->
