<div class="container">

  <div class="title-and-creator">
    <h1><%= @project.title %></h1>
    <h4>By: (creator of project)</h4>
  </div>

  <div class="main-project-info">
    <table>
      <tr>
      <td>
      </td>
      <td><p>
      <b>Description:</b> <%= @project.short_description %> <%= @project.amount_pledged %> </p></td>
      </tr>
    </table>
  </div>
</div>
