/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bourbon";
 @import "grid-settings";
 @import "neat";
 @import "bbb";

$neue: "Helvetica Neue", Sans Serif;


html {
  width: 100%

}
// NAV
 .centered-navigation {
   $base-border-radius: 10px !default;
   $dark-gray: #333 !default;
   $large-screen: 53.75em !default;
   $base-font-color: $dark-gray !default;
   $centered-navigation-padding: 1em;
   $centered-navigation-logo-height: 13em;
   $centered-navigation-background: #9E9B9A;
   $centered-navigation-color: transparentize($base-font-color, 0.3);
   $centered-navigation-color-hover: $base-font-color;
   $centered-navigation-height: 9rem;
   $centered-navigation-item-padding: 1em;
   $centered-navigation-submenu-padding: 1em;
   $centered-navigation-submenu-width: 8em;
   $centered-navigation-item-nudge: 2.2em;
   $horizontal-bar-mode: $large-screen;

   background-color: $centered-navigation-background;
   border-bottom: 4px ridge darken(#FF8A65, 3%);
   min-height: $centered-navigation-height;
   width: 100%;
   z-index: 9999;
   font-family: $neue;
   font-size: 1.1em;


 // Mobile view

   .mobile-logo {
     display: inline;
     float: left;
     max-height: $centered-navigation-height;
     padding-left: $centered-navigation-padding;

     img {
       max-height: $centered-navigation-height;

     }

     @include media($horizontal-bar-mode) {
       display: none;
     }
   }

   .centered-navigation-mobile-menu {
     color: $centered-navigation-color;
     display: block;
     float: right;
     line-height: $centered-navigation-height;
     margin: 0px;
     padding-right: $centered-navigation-submenu-padding;
     text-decoration: none;
     text-transform: uppercase;

     @include media ($horizontal-bar-mode) {
       display: none;
     }

     &:focus,
     &:hover {
       color: $centered-navigation-color-hover;
     }
   }


 // Nav menu

   .centered-navigation-wrapper {
     @include outer-container;
     @include clearfix;
     position: relative;
     z-index: 999;
   }

   ul.centered-navigation-menu {
     clear: both;
     display: none;
     margin: 0 auto;
     overflow: visible;
     padding: 0;
     -webkit-transform-style: preserve-3d;
 // stop webkit flicker
     width: 100%;
     z-index: 99999;

     &.show {
       display: block;
     }

     @include media ($horizontal-bar-mode) {
       display: block;
       text-align: center;
     }
   }


 // The nav items

   .nav-link:first-child {
     @include media($horizontal-bar-mode) {
       margin-left: $centered-navigation-item-nudge;
     }
   }

   ul li.nav-link {
     background: $centered-navigation-background;
     display: block;
     line-height: $centered-navigation-height;
     overflow: hidden;
     padding-right: $centered-navigation-submenu-padding;
     text-align: right;
     width: 100%;
     z-index: 9999;

     a {
       color: $centered-navigation-color;
       display: inline-block;
       outline: none;
       text-decoration: none;

       &:focus,
       &:hover {
         color: $centered-navigation-color-hover;
       }
     }

     @include media($horizontal-bar-mode) {
       background: transparent;
       display: inline;
       line-height: $centered-navigation-height;

       a {
         padding-right: $centered-navigation-item-padding;
       }
     }
   }

   li.logo.nav-link {
     display: none;
     line-height: 0;

     @include media($horizontal-bar-mode) {
       display: inline;
     }
   }

   .logo img {

     margin: 0px 2rem (-$centered-navigation-logo-height / 9) 2rem;
     max-height: $centered-navigation-logo-height;
     opacity: 0.6;
   }


 // Sub menus

   li.more.nav-link {
     padding-right: 0;

     @include media($large-screen) {
       padding-right: $centered-navigation-submenu-padding;
     }

     > ul > li:first-child a  {
       padding-top: 1em;
     }

     a {
       margin-right: $centered-navigation-submenu-padding;
     }

     > a {
       padding-right: 0.6em;
     }

     > a::after {
       @include position(absolute, auto -0.4em auto auto);
       color: $centered-navigation-color;
       content: "\25BE";
     }
   }

   li.more {
     overflow: visible;
     padding-right: 0;

     a {
       padding-right: $centered-navigation-submenu-padding;
     }

     > a {
       padding-right: 1.6em;
       position: relative;

       @include media($large-screen) {
         margin-right: $centered-navigation-submenu-padding;
       }

       &::after {
         content: "›";
         font-size: 1.2em;
         position: absolute;
         right: $centered-navigation-submenu-padding / 2;
       }
     }

     &:focus > .submenu,
     &:hover > .submenu {
       display: block;
     }

     @include media($horizontal-bar-mode) {
       padding-right: $centered-navigation-submenu-padding;
       position: relative;
     }
   }

   ul.submenu {
     display: none;
     padding-left: 0;

     @include media($horizontal-bar-mode) {
       left: -$centered-navigation-submenu-padding;
       position: absolute;
       top: 1.5em;
     }

     .submenu.fly-out-right {
       @include media($horizontal-bar-mode) {
         left: $centered-navigation-submenu-width - 0.2em;
         top: 0;
       }
     }

     .submenu.fly-out-left {
       @include media($horizontal-bar-mode) {
         left: -$centered-navigation-submenu-width + 0.2em;
         top: 0;
       }
     }

     li {
       display: block;
       padding-right: 0;

       @include media($horizontal-bar-mode) {
         line-height: $centered-navigation-height / 1.3;

         &:first-child > a {
           border-top-left-radius: $base-border-radius;
           border-top-right-radius: $base-border-radius;
         }

         &:last-child > a {
           border-bottom-left-radius: $base-border-radius;
           border-bottom-right-radius: $base-border-radius;
           padding-bottom: 0.7em;
         }
       }

       a {
         background-color: darken($centered-navigation-background, 3%);
         display: inline-block;
         text-align: right;
         text-decoration: none;
         width: 100%;

         @include media($horizontal-bar-mode) {
           background-color: $centered-navigation-background;
           padding-left: $centered-navigation-submenu-padding;
           text-align: left;
           width: $centered-navigation-submenu-width;
         }
       }
     }
   }
 }

 // FOOTER
 .footer {
   $base-spacing: 1.5em !default;
   $action-color: #A8D6E6 !default;
   $medium-screen: 40em !default;
   $large-screen: 53.75em !default;
   $footer-background: desaturate(darken($action-color, 20%), 30%);
   $footer-color: white;
   $footer-link-color: transparentize($footer-color, 0.6);
   $footer-disclaimer-color: transparentize($footer-color, 0.6);

   background: $footer-background;
   padding: ($base-spacing * 2) $gutter;
   width: 100%;
   margin-top: 10%;

   .footer-logo {
     margin-bottom: 2em;
     text-align: center;

     img {
       height: 3em;
     }
   }

   .footer-links {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-bottom: $base-spacing;
   }

   ul {
     flex-basis: 13em;
     flex-shrink: 0;
     margin-bottom: $base-spacing * 2;
     padding: 0;
   }

   li {
     line-height: 1.5em;
     list-style: none;
     text-align: center;
   }

   li a {
     color: $footer-link-color;
     text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
